<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Hızlı Linkler</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Anasayfa</a></li>
                    <li><a href="/tshirt"><i class="fa fa-angle-double-right"></i>Tişört</a></li>
                    <li><a href="/belt"><i class="fa fa-angle-double-right"></i>Kemer</a></li>
                    <li><a href="/shoes"><i class="fa fa-angle-double-right"></i>Ayakkabı</a></li>
                    <li><a href="/wallet"><i class="fa fa-angle-double-right"></i>Cüzdan</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Sosyal</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.facebook.com/Muratelber.kaya"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
                    <li><a href="https://www.youtube.com/channel/UCEPrBlkej6CbTHmTyh7IuoQ?view_as=subscriber"><i class="fa fa-angle-double-right"></i>Youtube</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Biz kimiz</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.facebook.com/Muratelber.kaya"><i class="fa fa-angle-double-right"></i>Hakkında</a></li>
                    <li><a href="https://code.tutsplus.com/tr/tutorials/creating-a-web-app-from-scratch-using-python-flask-and-mysql--cms-22972"><i class="fa fa-angle-double-right"></i>SSS</a></li>
                    
                    
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6"><a class="text-green ml-2" href="https://www.youtube.com/channel/UCEPrBlkej6CbTHmTyh7IuoQ?view_as=subscriber" target="">Murat Elber Kaya</a> &copy Tüm
                    hakları saklıdır.</p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->